<h1>詳細画面</h1>
<p>タイトル: <%= @task.title %></p>
<p>リンク: <%= @task.rink %></p>
<p>内容: <%= @task.content %></p>
<p>期限: <%= @task.deadline %></p>
<p>重要度: <%= @task.importance %></p>
<p>写真: <%= @task.image %></p>